body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 38px;
}

.table-bordered td,
.table-bordered {
  border: 3px solid #dee2e6;
  padding: 1px;
}
.tic-tac-toe td {
  height: 160px;
  width: 150px;
}
.tic-tac-toe span {
  font-size: 94px;
  font-family: "Nunito", sans-serif;
}
.instructions ol li {
  font-family: "Roboto", sans-serif;
}
.sticky-top {
  top: -1px;
}
header {
  margin-top: 50px;
}
.tic-tac-toe .btn {
  height: 160px;
}
.btn:disabled {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .tic-tac-toe span {
    font-size: 68px;
  }
  .tic-tac-toe .btn {
    height: 115px;
  }
  .tic-tac-toe td {
    height: 115px;
    width: 120px;
  }
  header {
    background: #000;
    opacity: 0.8;
    margin-top: 0;
  }
}
